    .page {
        min-width: 1100px;
        max-width: 1600px;
        margin: 0 auto;
        font-family: "Inter", "Arial", "sans-serif";
        font-family: "Noto Serif", "Times New Roman", "serif";
        font-size: 16px;
        line-height: 20px;
  }
  
  /*.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 40px;
    position: relative;
    box-sizing: border-box;
  }
  
  .header__title {
    font-size: 66px;
    line-height: 76px;
    font-weight: 500;
    color: #000;
    max-width: 601px;
    margin: 120px 0 0;
    }
  
  .header__content {
      margin-top: 128px;
    }
  
  .header__description {
    font-size: 20px;
    line-height: 30px;
    max-width: 532px;
    color: #000;
    margin-top: 32px 0 0;
  }
  
  .header__image {
    z-index: 1;
    position: absolute;
    top: 148px;
    right: 48px;
    max-width: 550px;
  }
  
  .header__footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .header__link {
    color: #e96e3a;
    text-decoration: none;
  }
  
  .header__link:hover {
    color: #d35722;
  }
  
  .header__address {
    margin: 0;
    color: #838383;
    
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
  
  .nav__logo {
    height: 80px;
    width: 57px;
  }
  
  .nav__links {
    display: flex;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 8px 0 0;
   }
  
  .nav__link {
    
    color: #000;
    text-decoration: none;
    font-weight: 500; 
  }
  
  .nav__link:hover {
    color: #d35722;
  }*/

  